<html>
  <head>
    <title>Help</title>
    <link rel='icon' href='/images/images.png'/>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class = "main-content">
    {{>header}}
    <p>Welcome to our support page!</p>
    <p>To ask for support, contact our customer service representative
      {{name}}</p>
    </div>
      {{>footer}}
  </body>
</html>